body{
    text-align: center;
    background-color: aqua;
}
#heading1
{
    font-variant: small-caps;
}
#animation{
    width:400px;
    
}
#grid{
 background: linear-gradient(#eb8034 0%, #eb3446 100%); 
}
#grid_head{
   background-color: darkkhaki; 
}
img{
    border-style: solid;
    border-width:3px;
    padding:3px;
    border-color:deeppink;
}